{{- $name := promptStringOnce . "name" "Your Name" -}}
{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $gpgSig := promptStringOnce . "gpgSig" "GPG Signature" -}}
{{- $workMachine := promptBoolOnce . "workMachine" "Is this a work machine?" false -}}

[data]
  name = {{ $name | quote}}
  email = {{ $email | quote }}
  gpgSig = {{ $gpgSig | quote }}
  workMachine = {{ $workMachine }}

[diff]
    pager = "delta"

[merge]
    # command = "nvim"
    # args = [
    #     "-d",
    #     {{ printf "%q" "{{ .Destination }}" }},
    #     {{ printf "%q" "{{ .Source }}" }},
    #     {{ printf "%q" "{{ .Target }}" }},
    # ]
    command = "bash"
    args = [
        "-c",
        {{ printf "%q" "cp {{ .Source | quote }} {{ printf \"%s.base\" .Source | quote }} && ksdiff --merge --output {{ .Source | quote }} --base {{ printf \"%s.base\" .Source | quote }} {{ .Destination | quote }} {{ .Target | quote }}; rm -f {{ printf \"%s.base\" .Source | quote }}" }},
    ]
