{{- $name := promptStringOnce . "name" "Your Name" -}}
{{- $email := promptStringOnce . "email" "Email Address" -}}
{{- $gpgSig := promptStringOnce . "gpgSig" "GPG Signature" -}}

[data]
  name = {{ $name | quote}}
  email = {{ $email | quote }}
  gpgSig = {{ $gpgSig | quote }}
  workMachine = {{ promptBoolOnce . "workMachine" "Is this a work machine?" false}}

[data.jira]
  endpoint = {{ promptStringOnce . "jiraEndpoint" "Jira Endpoint" | quote }}
  login = {{ promptStringOnce . "jiraLogin" "Jira Login" | quote }}

[diff]
    pager = "delta"
